@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
}
h1 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-optical-sizing: auto;
}
